
// estilo.scss

@use "variables"; //importa variables
@use "main-tarjetas"; // Importa estilos de navegación
@use "main-grid";  // Importa estilos principales
@use "form-gps"; // Importa formulario e iframe 





/*estilos generales*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%; /* Asegura que el body use el 100% del ancho */
	overflow-x: hidden; /* Previene el desplazamiento horizontal */
}